---
---

<!DOCTYPE html>
<html lang = 'en'>
<head>
	<meta charset = 'UTF-8'>
	<title>Document</title>
	<link rel = 'stylesheet' href = './assets/css/all.css'>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
	
<header>
	<ul>
		<li>Блог варвара</li>
		<li><a href = 'about' class = 'active'>О блоге</a></li>
		<li><a href = 'blog'>Читать блог</a></li>
	</ul>
</header>

<section class = 'posts_cnt'>
	<main>
		<ul class = 'posts_el_list'>
			{% include post_el.html %}
			{% include post_el.html %}
		</ul>		
	</main>
	{% include sidebar.html %}
</section>

<footer>
	<p>FOOTER</p>
</footer>	

	<script src = './assets/js/search_by_tags.js'></script>
	
</body>
</html>