<div class = 'popup_cnt animation_target' id = 'popup'>
	<div class = 'popup_message_cnt'>
		<div class = 'popup_message_head'>
			<div class = 'popup_message_head_el'><h2>Регистрация</h2></div>
			<div class = 'popup_message_head_el' id = 'close_popup_btn'>{% include icons/close.svg %}</div>
		</div>
		<div class = 'popup_message_body'>
			<form name = 'registration_form'>
				<div class = 'registration_form_fields_cnt'>
					<label for = 'first_name'>Имя</label>
					<input name = 'first_name' type = 'text' autofocus>
				</div>
				<div class = 'registration_form_fields_cnt'>
					<label for = 'email'>Email</label>
					<input name = 'email' type = 'text'>
				</div>
				<div class = 'registration_form_fields_cnt'>
					<label for = 'password'>Пароль</label>
					<input name = 'password' type = 'text'>
				</div>				
				<div class = 'registration_form_btn_cnt'>
					<button id = 'send_user_form_btn'>Отправить</button>
				</div>
			</form>

			<h3>Регистрация через соц. сети:</h3>
			<ul id = 'social_links_cnt'>
				<li>
					<a href = 'https://shrouded-ravine-70922.herokuapp.com/vk_login'>
						{% include icons/social/vk.svg %}
					</a>
				</li>
				<li>
					<a href = 'https://shrouded-ravine-70922.herokuapp.com/fb_login'>
						{% include icons/social/fb.svg %}
					</a>
				</li>
				<li>
					<a href = 'https://shrouded-ravine-70922.herokuapp.com/tw_login'>
						{% include icons/social/twitter.svg %}
					</a>
				</li>
			</ul>
		</div>		
	</div>
</div>