<a href = ''>
	<li>
		<div class = 'posts_el_head'>
			<div class = 'trngl l_trngl'></div>
			<div class = 'posts_el_date'>
				<span>12 сен 2017</span>
			</div>
			<div class = 'trngl r_trngl'></div>
		</div>			
		<div class = 'posts_el_body'>
			<ul class = 'posts_el_tag_cnt'>
				<li>Веб</li>
				<li>Игры</li>
				<li>Измышления</li>
			</ul>
			<img src="./assets/img/bg_17.jpg" alt="Some text">
			<h2>Что не так с кодерами начала 21 века?</h2>
			<p>У каждого настоёт такой момент когда тот останавливается и оглядывается что чёрт возьми происходит вокруг...</p>
			<ul class = 'posts_el_info_cnt'>
				<li>
					{% include icons/comment.svg %} 
					<span>14</span>
				</li>
				<li>
					{% include icons/view.svg %}
					<span>21</span>
				</li>							
			</ul>
		</div>
	</li>
</a>