<aside>
	<div class = 'search_cnt'>
		<form action = '/search.html' method = 'get' autocomplete = 'off'>
			<input type = 'text' id = 'search_input_field' name = 'query'>
			<button type = 'submit'>Найти</button>
		</form>
		<ul id = 'search_results'></ul>
		<ul class = 'search_tags_cnt'>
			<li>Веб</li>
			<li>Игры</li>
			<li>Разработка</li>
			<li>Идея фикс</li>
			<li>Стишок</li>
			<li>Анализ</li>
		</ul>
		<div class = 'tag_search_btn' id = 'search_by_tags_btn'>Искать по тэгам</div>
	</div>
</aside>