header {
  height: 36px;
  background-color: #de8d55; }
  header ul {
    width: 980px;
    margin: auto;
    line-height: 36px; }
    header ul li {
      display: inline-block;
      font-size: 15px; }
      header ul li:nth-child(1) {
        width: calc(100% - 200px); }
      header ul li:nth-child(2) {
        width: 100px; }
      header ul li:nth-child(3) {
        width: 100px; }

.posts_cnt {
  min-height: 600px;
  margin: 60px auto;
  width: 980px; }

main {
  box-sizing: border-box;
  vertical-align: top;
  width: 700px;
  display: inline-block; }
  main a {
    color: #333617; }
  main li {
    display: inline-block;
    width: 320px;
    margin: 0px 20px 20px 0px; }

.posts_el_head {
  padding-left: 142px; }

.posts_el_date {
  width: 105px;
  vertical-align: top;
  text-align: center;
  padding: 0px 10px;
  display: inline-block;
  background-color: #de8d55; }
  .posts_el_date span {
    line-height: 24px;
    font-size: 12px; }

.trngl {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid; }

.l_trngl {
  border-width: 0 0 24px 17px;
  border-color: transparent transparent #de8d55 transparent; }

.r_trngl {
  border-width: 24px 0 0 17px;
  border-color: transparent transparent transparent #de8d55; }

.posts_el_body {
  padding: 20px;
  height: 400px;
  background-color: #de8d55;
  border-radius: 4px; }
  .posts_el_body img {
    width: 100%;
    height: 180px;
    border-radius: 4px; }
  .posts_el_body h2 {
    padding: 16px 0px;
    font-size: 20px;
    letter-spacing: 1px; }
  .posts_el_body p {
    font-size: 14px;
    line-height: 22px; }

.posts_el_tag_cnt {
  font-size: 12px;
  padding-top: 16px; }
  .posts_el_tag_cnt li {
    background-color: #333617;
    color: #de8d55;
    display: inline-block;
    width: auto;
    margin: 0px;
    padding: 5px 10px;
    border-radius: 4px; }

.posts_el_info_cnt li:nth-child(1) {
  width: 20px;
  height: 20px; }
.posts_el_info_cnt path {
  fill: red; }

aside {
  width: 280px;
  height: 533px;
  display: inline-block;
  background-color: rgba(0, 255, 0, 0.1); }

footer {
  font-size: 14px;
  width: 100%;
  height: 100px;
  background-color: #de8d55; }

body {
  font-family: "Roboto";
  color: #333617;
  background-image: url("../img/bg_29.jpg");
  background-size: cover;
  font-size: 0px; }

html, body, ul, li, h1, h2, h3, p {
  margin: 0px;
  padding: 0px; }

ul {
  list-style-type: none; }
