---
---

$text_color: #333617
$bg_color: rgb(211,172,145)
$bg_color_2: rgb(83,80,114)
$app_base_weight: 1000px

@import 'header'
@import 'main'
@import 'sidebar'
@import 'footer'
@import 'about'
@import 'post'
@import 'comments'

body
	font-family: 'Roboto'
	color: $text_color
	background-color: $bg_color_2
	background-attachment: fixed
	background-image: url('../img/bg_29.jpg')
	background-size: cover
	font-size: 0px

html, body, ul, li, h1, h2, h3, p
	margin: 0px
	padding: 0px

ul
	list-style-type: none