---
---

$text_color: #333617
$bg_color: rgb(222,141,85) 
$bg_color_2: rgb(30, 29, 47) 
$link_color: rgba(0,0,255, .7)
$app_base_weight: 1000px

@import 'header'
@import 'main'
@import 'sidebar'
@import 'footer'

body
	font-family: 'Roboto'
	color: $text_color
	background-attachment: fixed
	background-image: url('../img/bg_29.jpg')
	background-size: cover
	font-size: 0px

html, body, ul, li, h1, h2, h3, p
	margin: 0px
	padding: 0px

ul
	list-style-type: none