header
	background: linear-gradient(90deg, $bg_color_2, $bg_color)

	nav
		width: 1020px
		margin: auto
		text-align: right
		@media(max-width: 1020px)
			width: 100%
		@media(max-width: 400px)
			text-align: center

	ul

		a
			display: block
			text-decoration: none
			color: $text_color
			font-size: 15px
			text-align: center

			&:hover
				background-color: $bg_color_2
				color: $bg_color

		.active
			background-color: $bg_color_2
			color: $bg_color

		li
			display: inline-block
			line-height: 36px
			width: 120px