<!DOCTYPE html>
<html lang = 'en'>
<head>
	<meta charset = 'UTF-8'>
	<title>Blog</title>

	<!-- <base href = 'https://largobox.github.io/ShinyBlog/'> -->
	<!-- <base href = 'http://localhost:4000/'> -->

	<link rel = 'stylesheet' href = '{{ site.url }}/assets/css/all.css'>
	<link href = 'https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
	<link rel = 'icon' type = 'image/png' href = '/icon.png'>
</head>
<body>
	
<header>
	<nav>	
		<ul id = 'header_menu'>
			<li><a id = 'blog_root' href = '{{ site.url }}/'>Читать блог</a></li>
			<li><a id = 'about_root' href = '{{ site.url }}/about' >О блоге</a></li>
		</ul>
	</nav>
</header>

<section class = 'base_cnt'>
	<main>
		{{ content }}
	</main>
	{% include sidebar.html %}
</section>

<footer>
	<p>© Блог варвара</p>
</footer>

{% include popup.html %}
{% include notification.html %}

	<script>
	  window.store = {
	    {% for post in site.posts %}
	      "{{ post.url | slugify }}": {
	        "url": "{{ post.url | xml_escape }}",
	        "number": "{{ post.number | xml_escape }}",
	        "title": "{{ post.title | xml_escape }}",
	        "desc": "{{ post.desc | xml_escape }}",
	        "date": "{{ post.date | xml_escape }}"
	      }
	      {% unless forloop.last %},{% endunless %}
	    {% endfor %}
	  };
	</script>

	<script src = '{{ site.url }}/assets/js/base.js'></script>
	<script src = '{{ site.url }}/assets/js/notification.js'></script>
	<script src = '{{ site.url }}/assets/js/search_by_word.js'></script>
	<script src = '{{ site.url }}/assets/js/search_by_tags.js'></script>
	<script src = '{{ site.url }}/assets/js/registration.js'></script>
	<script src = '{{ site.url }}/assets/js/validations.js'></script>

</body>
</html>