---
layout: default
---

<div class = 'post_cnt'>
	<div class = 'post_inner_cnt'>
		<div class = 'post_head'>
			<a href = '{{assets_path}}/'>	
				<div class = 'back_btn_cnt'>
					{% include icons/back.svg %}
				</div>
			</a>
			<div class = 'post_date_cnt'>
				<div class = 'l_trngl'></div>
				<span>
					{{ page.date | date: '%y' }}
					{% include functions/month_translate_to_rus.html %}
					{{ page.date | date: '%d' }}
				</span>
				<div class = 'r_trngl'></div>
			</div>			
		</div>

		<div class = 'post_body'>
			<h2>{{ page.title }}</h2>
			{{ content }}
		</div>
	</div>
</div>

<div class = 'post_comment_cnt'>
	<ul id = 'post_comments'></ul>

	<form name = 'comment_form'>
		<input name = 'user_id' type = 'text' hidden>
		<input name = 'post_id' type = 'text' value = '{{ page.number }}' hidden>	
		<div class = 'comment_form_fields_cnt'>
			<textarea name = 'comment_body' rows = '6' placeholder = 'Что вы думаете об этой статье?'></textarea>
		</div>
		<div class = 'comment_form_btn_cnt'>
			<button id = 'send_comment_btn'>Добавить</button>	
		</div>
	</form>

</div>

<script src = '{{assets_path}}/assets/js/post.js'></script>